fastapi
uvicorn[standard]
pydantic==2.7.1 # Specify version for consistency
pydantic-settings==2.2.1 # New dependency for BaseSettings
python-dotenv
sqlalchemy==2.0.29 # Specify version
psycopg2-binary # For PostgreSQL
passlib[bcrypt] # For password hashing
python-jose[cryptography] # For JWT
pyotp==2.9.0
qrcode==7.4.2