fastapi
uvicorn
pydantic
pydantic-settings==2.2.1 # New dependency for BaseSettings
python-dotenv
sqlalchemy
psycopg2-binary # For PostgreSQL
passlib[bcrypt] # For password hashing
python-jose[cryptography] # For JWT
pyotp==2.9.0
qrcode==7.4.2 
